#nav{
	padding: 20px;
	background-color: #333333;
    color: #ffffff;
    font-size: 14pt;
}

#nav #right{
	float: right;
    color: white;
}

#header{
	margin: 20;
	padding: 50px;
    background-color: #f3f3f3;
}

#header #ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #3333333;
}

li {
    float: right;
    list-style-type: none;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: rgb(0, 199, 43);
}

.link{
    font-size: 14pt;
}

.link:link{
color: white;
}